.stepBox {
  background-color: rgba(67, 0, 97, 255);
  display: flex;
  flex-direction: column;
}

.stepBoxTop {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepTopic {
  color: #000;
  text-align: center;
  text-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  padding: 10px;
  transition: background-color 0.5s, color 0.5s, border-radius 0.5s,
    box-shadow 0.5s;
}

.stepTopic:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 15px;
  background-color: white;
  color: rgba(67, 0, 97, 255);
}

.stepBoxBottom {
  flex: 6;
  display: flex;
}

.bottomLeft {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottomRight {
  flex: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.rightImage {
  display: flex;
  height: 400px;
  margin: 20px 10px 35px auto;
  box-shadow: rgb(39, 138, 252) 0px 0px 0px 10px;
  border-radius: 8px;
}

.imageBox {
  display: flex;
  align-items: center;
}

.stepsList {
  display: flex;
  list-style: none;
  margin: 0 50px 50px 50px;
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: background-color 0.5s, color 0.5s, border-radius 0.5s,
    box-shadow 0.5s;
}

.stepsList:hover {
  background-color: rgb(183, 55, 229);
  color: rgba(67, 0, 97, 255);
  border-radius: 15px;
}

.stepText {
  flex: 5;
  color: #fff;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s, border-radius 0.5s,
    box-shadow 0.5s;
}

.stepText:hover {
  background-color: white;
  color: rgba(67, 0, 97, 255);
  border-radius: 15px;
}

.stepButton {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-width: 0;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.stepButton:hover {
  background-color: white;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.stepIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .stepBoxBottom {
    flex-direction: column;
  }
  .rightImage {
    height: 250px;
  }
  .imageBox {
    margin-bottom: 35px;
  }
  .stepText {
    font-size: 20px;
    line-height: 25px;
  }
  .stepTopic {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .rightImage {
    height: 100px;
  }
  .imageBox {
    margin-bottom: 25px;
  }
  .stepText {
    font-size: 15px;
    line-height: 20px;
  }
  .stepTopic {
    font-size: 30px;
    line-height: 35px;
  }
}

/*animation*/

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.zoom-in {
  animation: zoomIn 0.5s forwards;
}
