.genaratorBox {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: max-content;
  min-height: 700;
}

.genaratorBoxTop {
  flex: 0.5;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.genTopic {
  color: #000;
  text-align: center;
  text-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
}

.genaratorBoxUp {
  flex: 3;
  background-color: rgb(159, 155, 155);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
}

.spacingBox {
  flex: 1;
  background-color: rgb(83, 79, 186);
}

.urlSizeBox {
  flex: 3;
  display: flex;
  background-color: blue;
  flex-direction: column;
  padding: 10px 0;
  margin: 20px 10px;
}

.inputBox {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: 20px 10px;
}

.sizeBox {
  flex: 1;
  margin: 20px 10px;
}

.selected {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 10px;
  border: none;
  transition: box-shadow 0.5s;
  text-decoration: antiquewhite;
}

.selected:focus {
  outline: none;
}

.selected:hover {
  box-shadow: rgb(1, 1, 1) 0px 20px 30px -10px;
}

.buttonBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.qrIcon {
  display: inline-block;
  position: absolute;
  right: 15px;
}

.qrInput {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
  border: none;
  transition: box-shadow 0.5s;
}

.qrInput:hover {
  box-shadow: rgb(1, 1, 1) 0px 20px 30px -10px;
}

.qrInput:focus {
  outline: none;
}

.genButton {
  display: flex;
  padding: 7px 20px 7px 20px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.5s, color 0.5s, font-weght 0.5s,
    box-shadow 0.5s;
}

.genButton:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-weight: bold;
  background-color: white;
  color: rgba(67, 0, 97, 255);
}

.genaratorBoxDown {
  flex: 6;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: beige;
  min-height: 200px;
}

/* .qrBox {
  border-width: 3px;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.qrImage {
  /* display: flex;
  height: 200px; */
  margin: auto;
  max-width: 1200px;
  width: max-content;
}

.genaratorBoxBottom {
  flex: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px auto;
}

.delButton {
  display: flex;
  padding: 7px 20px 7px 20px;
  font-size: 14px;
  border-radius: 20px;
  border-width: 5px;
  border-color: greenyellow;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.5s, color 0.5s, font-weght 0.5s,
    box-shadow 0.5s;
}

.delButton:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-weight: bold;
  background-color: rgb(189, 245, 197);
  color: rgba(67, 0, 97, 255);
}

@media (max-width: 700px) {
  .genaratorBoxUp {
    flex-direction: column;
    margin: auto;
  }
  .buttonBox {
    margin-top: 30px;
  }
  .inputBox {
    margin: 20px 40px auto 40px;
    justify-items: left;
  }
}

@media screen and (max-width: 630px) {
  .genTopic {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .genTopic {
    font-size: 30px;
    line-height: 35px;
  }
}
