.aboutBox {
    display: flex;
    flex-direction: column;
    height: auto;
}

.aboutTop {
    flex: 2;
    background-color: antiquewhite;
}

.aboutTopic {
    color: #000;
    text-align: center;
    text-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Kanit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding: 10px;
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s, box-shadow 0.5s;
}

.aboutTopic:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 15px;
    background-color: white;
    color: rgba(67, 0, 97, 255);
}

.aboutUp {
    flex: 6;
    background-color: aqua;
    min-height: 400px;
}

.aboutDown {
    flex: 2;
    display: flex;
    background-color: bisque;
    border-bottom: black;
}

.leftHelpBar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.qrLogo {
    font-size: xx-large;
}

.spacing {
    flex: 1;
}

.rightHelpBar {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.helpButton {
    background-color: transparent;
    border-color: white;
    color: rgb(17, 4, 4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 8px;
    border-width: 0;
    transition: background-color 0.5s, color 0.5s, border-bottom 0.5s;
}

.helpButton:hover {
    border-bottom: 5px white;
    color: rgba(67, 0, 97, 255);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.aboutBottom {
    flex: 1;
    display: flex;
}

.aboutBottomLeft {
    display: flex;
    flex: 2;
    opacity: 0.7;
    align-items: center;
    padding-left: 20px;
}

.aboutBottomRight {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.social {
    margin: 3px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.social:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: black;
}

@media screen and (max-width: 630px) {
    .aboutTopic {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .aboutTopic {
        font-size: 35px;
        line-height: 30px;
    }
}